# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Data
Data/TestData1.csv
Data/Statistics.csv
Data/Lastningsplan.csv

# VS Code
.vscode/
.history/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Environment variables
.env
